<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/0aea41c2-0704-4f0c-ba3c-5ee5212936e2/resourcegroups/Linux_group/providers/Microsoft.Web/sites/CityDiscoverAPI20230929192806</ResourceId>
    <ResourceGroup>Linux_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://citydiscoverapi20230929192806.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>90279e4b-430b-485e-8ae6-c3dcec8c1a30</ProjectGuid>
    <PublishUrl>https://citydiscoverapi20230929192806.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CityDiscoverAPI20230929192806</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>