<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0aea41c2-0704-4f0c-ba3c-5ee5212936e2/resourcegroups/Win11Grup/providers/Microsoft.Web/sites/CityDiscoverAPI20230929201803</ResourceId>
    <ResourceGroup>Win11Grup</ResourceGroup>
    <ApiResourceId>/subscriptions/0aea41c2-0704-4f0c-ba3c-5ee5212936e2/resourceGroups/Win11Grup/providers/Microsoft.ApiManagement/service/CityDiscoverAPIapi/apis/CityDiscoverAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://citydiscoverapi20230929201803.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>90279e4b-430b-485e-8ae6-c3dcec8c1a30</ProjectGuid>
    <MSDeployServiceURL>citydiscoverapi20230929201803.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CityDiscoverAPI20230929201803</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$CityDiscoverAPI20230929201803</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>